
  <div *ngIf="!sendComplete" class="modal-header">
    <h4 class="modal-title">Заявить о проблеме</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancelForm()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf="!sendComplete" class="modal-body">
    <div *ngIf="error" class="alert alert-danger">{{error | json}}</div>
    <form class="problem-form" #form="ngForm">
    <!-- DatePicker -->
    <div>
      <label for="detection_date" class="input-label required"> Дата </label>
        <div class="input-group" id="detection_date">
          <input class="form-control" placeholder="dd.mm.yyyy" name="dp" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="detection_date" name="date" required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                class="fa fa-calendar"></i></button>
          </div>
        </div>
    </div>

    <!-- <ngb-timepicker [(ngModel)]="time"  name="time"></ngb-timepicker>
    {{time | json}} -->
    <!-- Приложение -->
    <div>
      <label for="applications" class="input-label required">Приложение</label>
      <select  id="applications" class="form-control" [(ngModel)]="application" name="control-type" [compareWith]="compareFn">
        <option *ngFor="let app of applications" [ngValue]="app" >
          {{ app.name }}
        </option>
      </select>
    </div>

    <!--Фильтр убран из шаблона, т.к пока не реализована фильтрация. -->
    <!-- Нужен ли фильтр вообще, если для блоков управления реализован поиск?-->
    <!-- Тип блока управления -->
    <!-- <div *ngIf="hasControl()">
      <label for="control_type">Тип блока управления</label>
        <select id="control_type" class="form-control" [(ngModel)]="control_type" name="control-type">
          <option></option>
          <option *ngFor="let type of (storage.getControlTypes() | async)" value="{{type.id}}">{{ type.type_name }}</option>
        </select>
    </div> -->

    <!-- Блоки управления -->
    <div *ngIf="hasControl()">
      <label for="control" >Блоки управления</label>
        <select hidden="true"></select>
        <app-select-with-typeahead
          id="control"
          [searchList]="(storage.getControls() | async)"
          [isMultiple]="true"
          [(ngModel)]="control"
          name="control" >
        </app-select-with-typeahead>

    </div>
    <!-- Агрегат -->
    <div>
      <label for="unit">Агрегат</label>
        <select hidden="true"></select>
        <app-select-with-typeahead
        id="unit"
        [searchList]="(storage.getUnits() | async)"
        [isMultiple]="true"
        [(ngModel)]="unit"
        name="unit" >
        </app-select-with-typeahead>

    </div>

    <!--Кузов -->
    <div>
      <label for="body-type">Кузов</label>
        <select hidden="true"></select>
        <app-select-with-typeahead
          id="body-type"
          [searchList]="(storage.getBodyTypes() | async)"
          [isMultiple]="true"
          [(ngModel)]="body_type"
          name="body_type" >
        </app-select-with-typeahead>

    </div>
    <!-- Описание проблемы -->
    <div>
      <label for="description">Описание проблемы</label>
        <textarea id="description" class="form-control" aria-label="Описание проблемы" [(ngModel)]="description" name="description"></textarea>
    </div>
    <div>
      <button class="btn btn-dark form-button" (click)="saveForm()" [disabled]="form.invalid">Отправить</button>
      <button class="btn btn-dark form-button" (click)="cancelForm()">Закрыть</button>
    </div>


  </form>

</div>

<div *ngIf="sendComplete" class="modal-header">
  <h4 class="modal-title">Отправлено</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeSuccess()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div *ngIf="sendComplete" class="modal-body">

  <div class="alert alert-success">
    <p><strong>Сообщение о проблеме успешно отправлено:</strong></p>
    <p>Дата: {{result.detection_date | date: 'd MMMM yyyy'}}</p>
    <p>Приложение: {{result.application.name}}</p>
    <p></p>
  </div>
  <div>
    <button class="btn btn-dark form-button" (click)="closeSuccess()">Закрыть</button>
  </div>
</div>