
  <div class="modal-header">
    <h4 class="modal-title">Заявить о проблеме</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancelForm()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form class="problem-form" #form="ngForm">
    <!-- DatePicker -->
    <div>
      <label> Дата и время
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="detection_date" name="date" required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                class="fa fa-calendar"></i></button>
          </div>
        </div>
      </label>
    </div>
    <!-- Приложение -->
    <div>
      <label>Приложение
          <select hidden="true"></select>
          <app-select-with-typeahead 
          [searchList]="applications" 
          [isMultiple]="false" 
          [(ngModel)]="application" 
          name="application" 
          required>
          </app-select-with-typeahead>
      </label>
    </div>


    <!-- Тип блока управления -->
    <div *ngIf="hasControl()">
      <label>Тип блока управления
        <select class="form-control" [(ngModel)]="control_type" name="control-type">
          <option *ngFor="let type of controlTypes" value="{{type.id}}">{{ type.type_name }}</option>
        </select>

      </label>
    </div>
    <!-- Блоки управления -->
    <div *ngIf="hasControl()">
      <label>Блоки управления
        <select hidden="true"></select>
        <app-select-with-typeahead 
          [searchList]="controls" 
          [isMultiple]="true"
          [(ngModel)]="control" 
          name="control" >
        </app-select-with-typeahead>
      </label>
    </div>
    <!-- Агрегат -->
    <div>
      <label>Агрегат
        <select hidden="true"></select>
        <app-select-with-typeahead 
        [searchList]="units" 
        [isMultiple]="true"
        [(ngModel)]="unit" 
        name="unit" >
        </app-select-with-typeahead>
      </label>
    </div>

    <!--Кузов -->
    <div>
      <label>Кузов
        <select hidden="true"></select>
        <app-select-with-typeahead 
          [searchList]="bodyTypes" 
          [isMultiple]="true"
          [(ngModel)]="body_type" 
          name="body_type" >
        </app-select-with-typeahead>
      </label>
    </div>
    <!-- Описание проблемы -->
    <div>
      <label>Описание проблемы
        <textarea class="form-control" aria-label="Описание проблемы" [(ngModel)]="description" name="description"></textarea>
      </label>
    </div>
    <div>
      <button class="btn btn-dark" (click)="saveForm()">Отправить</button>
      <button class="btn btn-dark" (click)="cancelForm()">Закрыть</button>
    </div>


  </form>
    <!-- {{ form.value | json}}
    {{form.valid}} -->

</div>